
/* Reset some default styles */
*
 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.album-and-songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; /* Increased for more breathing space */
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  width: 100%; /* Fill parent container */
  box-sizing: border-box; /* Include padding/border in width */
  /* transition: transform 0.2s; */
}

/* .album-item:hover {
  transform: scale(1.02);
} */

.album-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 375px; /* Limit max width to prevent excessive stretching */
}

.album-cover {
  margin-bottom: 12px;
}


h3 {
  font-size: 1.2rem;
  margin: 12px 0;
  color: #121212;
}

p {
  font-size: 1rem;
  color: #666;
  margin: 8px 0;
}

.streaming-links {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.streaming-links svg {
  transition: opacity 0.2s;
}

.streaming-links svg:hover {
  opacity: 0.8;
}